<a href="https://colab.research.google.com/github/alexsandro-matias/lab_dio/blob/main/aula07_Analise_Explorat%C3%B3ria_no_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise Exploratória no Pandas

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")

Forma alternativa de carregar os arquivos.

In [2]:
from google.colab import files
arquivo = files.upload()

Saving AdventureWorks.xlsx to AdventureWorks.xlsx

Criando o Dataframe a partir do arquivo carregado.

In [3]:
df = pd.read_excel("AdventureWorks.xlsx")

In [5]:
df.sample(5)

    Data Venda Data Envio  ID Loja  ...            Marca   Classe    Cor
1   2008-05-12 2008-05-17      306  ...  Adventure Works  Regular    Red
449 2009-08-27 2009-09-04      199  ...         Fabrikam  Regular  Black
118 2009-05-14 2009-05-25      306  ...         Fabrikam  Regular  Black
233 2008-10-10 2008-10-20      307  ...         Fabrikam  Regular   Grey
668 2009-03-27 2009-04-06      199  ...         Fabrikam  Regular   Grey

[5 rows x 16 columns]

Neste dataframe, o valor de "**Valor Venda**" já representa o valor de **Receita** representa o valor do produto com o desconto.

A quantidade linhas e colunas do dataframe.

In [7]:
df.shape

(904, 16)

O valor da receita total do dataframe.

In [9]:
df["Valor Venda"].sum()

5984606.1426

Já os tipos de dados que ela contém:

In [10]:
df.dtypes

Data Venda        datetime64[ns]
Data Envio        datetime64[ns]
ID Loja                    int64
ID Produto                 int64
ID Cliente                 int64
No. Venda                 object
Custo Unitário           float64
Preço Unitário           float64
Quantidade                 int64
Valor Desconto           float64
Valor Venda              float64
Produto                   object
Fabricante                object
Marca                     object
Classe                    object
Cor                       object
dtype: object

Para saber o curso total, será necessário criar uma coluna chamanda "**Custo**"  para depois fazermos o somatório desses valores.

In [11]:
df["Custo"] = df["Custo Unitário"] * df["Quantidade"]

In [14]:
df["Custo"].head(1)

0    2091.48
Name: Custo, dtype: float64

In [13]:
df["Custo"].sum()

2486783.05

Caso seja necessário arrendondar os valores, usa-se o método **round()**

In [15]:
round(df["Custo"].sum(), 2)

2486783.05

Para se encontrar o lucro deve-se calcular o ***( valor de venda - valor de custo )***

In [16]:
df["Lucro"] = df["Valor Venda"] - df["Custo"]

In [17]:
df.head(1)

  Data Venda Data Envio  ID Loja  ID Produto  ...   Classe  Cor    Custo    Lucro
0 2008-05-09 2008-05-29      199         384  ...  Regular  Red  2091.48  2456.52

[1 rows x 18 columns]

Calculando o lucro total:

In [18]:
round(df["Lucro"].sum(), 2)

3497823.09

Para se calcular o tempo gasto para o envio de um produto, basta subtrair a datas:

In [19]:
df["Data_Envio"] = df["Data Envio"] - df["Data Venda"]

In [21]:
df.head(1)

  Data Venda Data Envio  ID Loja  ID Produto  ...  Cor    Custo    Lucro  Data_Envio
0 2008-05-09 2008-05-29      199         384  ...  Red  2091.48  2456.52     20 days

[1 rows x 19 columns]

Como a Data_Envio ficou no formato ***(20 days)*** é necessário deixar esse valor como numerico para se determinar, por exemplo o tempo médio de envio. Para isso:

In [27]:
df["Data_Envio"] = (df["Data Envio"] - df["Data Venda"]).dt.days

In [28]:
df.head(1)

  Data Venda Data Envio  ID Loja  ID Produto  ...  Cor    Custo    Lucro  Data_Envio
0 2008-05-09 2008-05-29      199         384  ...  Red  2091.48  2456.52          20

[1 rows x 19 columns]

In [39]:
df = df.rename(columns={"Data_Envio":"Tempo_Envio_Dias"})

In [38]:
df.head()

  Data Venda Data Envio  ID Loja  ID Produto  ...  Cor    Custo    Lucro  Data_Envio
0 2008-05-09 2008-05-29      199         384  ...  Red  2091.48  2456.52          20
1 2008-05-12 2008-05-17      306         384  ...  Red  2091.48  2456.52           5
2 2008-05-14 2008-05-20      306         384  ...  Red  2091.48  2456.52           6
3 2008-05-21 2008-05-27      306         384  ...  Red  2091.48  2456.52           6
4 2008-06-20 2008-06-27      306         384  ...  Red  2091.48  2456.52           7

[5 rows x 19 columns]

In [40]:
df.sample()

    Data Venda Data Envio  ID Loja  ...    Custo    Lucro Tempo_Envio_Dias
187 2008-10-05 2008-10-15      307  ...  4182.96  4913.04               10

[1 rows x 19 columns]

Verificando a alteração:

In [41]:
df["Tempo_Envio_Dias"].dtype

dtype('int64')

Para finalmente o cálculo da média de dias de envio "***por marca***". Para isso, iremos agrupar a marca e depois agrupar novamente pelo tempo de envio, e por último, tirar a média

In [43]:
df.groupby("Marca")["Tempo_Envio_Dias"].mean()

Marca
Adventure Works    8.663866
Contoso            8.470930
Fabrikam           8.510121
Name: Tempo_Envio_Dias, dtype: float64

## Para valores faltantes ou nulos

In [44]:
df.isnull().sum()

Data Venda          0
Data Envio          0
ID Loja             0
ID Produto          0
ID Cliente          0
No. Venda           0
Custo Unitário      0
Preço Unitário      0
Quantidade          0
Valor Desconto      0
Valor Venda         0
Produto             0
Fabricante          0
Marca               0
Classe              0
Cor                 0
Custo               0
Lucro               0
Tempo_Envio_Dias    0
dtype: int64

In [55]:
df.groupby([df["Data Venda"].dt.year, "Marca"])["Lucro"].sum()

Data Venda  Marca
2008        Adventure Works             306,641.16
            Contoso                      56,416.00
            Fabrikam                  1,557,020.55
2009        Adventure Works             405,395.08
            Contoso                     138,258.95
            Fabrikam                  1,034,091.35
Name: Lucro, dtype: float64

Formatando a saída:

In [53]:
pd.options.display.float_format = '{:20,.2f}'.format

In [56]:
df.groupby([df["Data Venda"].dt.year, "Marca"])["Lucro"].sum()

Data Venda  Marca
2008        Adventure Works             306,641.16
            Contoso                      56,416.00
            Fabrikam                  1,557,020.55
2009        Adventure Works             405,395.08
            Contoso                     138,258.95
            Fabrikam                  1,034,091.35
Name: Lucro, dtype: float64

In [ ]:
df.groupby([df["Data Venda"].dt.year, "Marca"])["Lucro"].sum()

Data Venda  Marca
2008        Adventure Works    3.066412e+05
            Contoso            5.641600e+04
            Fabrikam           1.557021e+06
2009        Adventure Works    4.053951e+05
            Contoso            1.382590e+05
            Fabrikam           1.034091e+06
Name: Lucro, dtype: float64