<a href="https://colab.research.google.com/github/alexsandro-matias/lab_dio/blob/main/aula03_introducao_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/content/Gapminder.csv")

ParserError: ignored

Erro causado por não ter passado os parâmetros de formas corretas.

In [4]:
df = pd.read_csv("/content/Gapminder.csv", error_bad_lines=False)

b'Skipping line 665: expected 1 fields, saw 2\nSkipping line 666: expected 1 fields, saw 2\nSkipping line 667: expected 1 fields, saw 2\nSkipping line 668: expected 1 fields, saw 2\nSkipping line 669: expected 1 fields, saw 2\nSkipping line 670: expected 1 fields, saw 2\nSkipping line 671: expected 1 fields, saw 2\nSkipping line 672: expected 1 fields, saw 2\nSkipping line 673: expected 1 fields, saw 2\nSkipping line 674: expected 1 fields, saw 2\nSkipping line 675: expected 1 fields, saw 2\nSkipping line 676: expected 1 fields, saw 2\nSkipping line 677: expected 1 fields, saw 2\nSkipping line 678: expected 1 fields, saw 2\nSkipping line 679: expected 1 fields, saw 2\nSkipping line 680: expected 1 fields, saw 2\nSkipping line 681: expected 1 fields, saw 2\nSkipping line 682: expected 1 fields, saw 2\nSkipping line 683: expected 1 fields, saw 2\nSkipping line 684: expected 1 fields, saw 2\nSkipping line 685: expected 1 fields, saw 2\nSkipping line 686: expected 1 fields, saw 2\nSkipping line 687: expected 1 fields, saw 2\nSkipping line 688: expected 1 fields, saw 2\nSkipping line 1275: expected 1 fields, saw 2\nSkipping line 1276: expected 1 fields, saw 2\nSkipping line 1277: expected 1 fields, saw 2\nSkipping line 1278: expected 1 fields, saw 2\nSkipping line 1279: expected 1 fields, saw 2\nSkipping line 1280: expected 1 fields, saw 2\nSkipping line 1281: expected 1 fields, saw 2\nSkipping line 1282: expected 1 fields, saw 2\nSkipping line 1283: expected 1 fields, saw 2\nSkipping line 1284: expected 1 fields, saw 2\nSkipping line 1285: expected 1 fields, saw 2\nSkipping line 1286: expected 1 fields, saw 2\nSkipping line 1629: expected 1 fields, saw 2\nSkipping line 1630: expected 1 fields, saw 2\nSkipping line 1631: expected 1 fields, saw 2\nSkipping line 1632: expected 1 fields, saw 2\nSkipping line 1633: expected 1 fields, saw 2\nSkipping line 1634: expected 1 fields, saw 2\nSkipping line 1635: expected 1 fields, saw 2\nSkipping line 1636: expected 1 fields, saw 2\nSkipping line 1637: expected 1 fields, saw 2\nSkipping line 1638: expected 1 fields, saw 2\nSkipping line 1639: expected 1 fields, saw 2\nSkipping line 1640: expected 1 fields, saw 2\nSkipping line 1641: expected 1 fields, saw 2\nSkipping line 1642: expected 1 fields, saw 2\nSkipping line 1643: expected 1 fields, saw 2\nSkipping line 1644: expected 1 fields, saw 2\nSkipping line 1645: expected 1 fields, saw 2\nSkipping line 1646: expected 1 fields, saw 2\nSkipping line 1647: expected 1 fields, saw 2\nSkipping line 1648: expected 1 fields, saw 2\nSkipping line 1649: expected 1 fields, saw 2\nSkipping line 1650: expected 1 fields, saw 2\nSkipping line 1651: expected 1 fields, saw 2\nSkipping line 1652: expected 1 fields, saw 2\nSkipping line 1823: expected 1 fields, saw 2\nSkipping line 1824: expected 1 fields, saw 2\nSkipping line 1825: expected 1 fields, saw 2\nSkipping line 1826: expected 1 fields, saw 2\nSkipping line 1827: expected 1 fields, saw 2\nSkipping line 1828: expected 1 fields, saw 2\nSkipping line 1829: expected 1 fields, saw 2\nSkipping line 1830: expected 1 fields, saw 2\nSkipping line 1935: expected 1 fields, saw 2\nSkipping line 1936: expected 1 fields, saw 2\nSkipping line 1937: expected 1 fields, saw 2\nSkipping line 1938: expected 1 fields, saw 2\nSkipping line 1939: expected 1 fields, saw 2\nSkipping line 1940: expected 1 fields, saw 2\nSkipping line 1941: expected 1 fields, saw 2\nSkipping line 1942: expected 1 fields, saw 2\nSkipping line 3278: expected 1 fields, saw 2\nSkipping line 3279: expected 1 fields, saw 2\nSkipping line 3280: expected 1 fields, saw 2\nSkipping line 3281: expected 1 fields, saw 2\nSkipping line 3282: expected 1 fields, saw 2\nSkipping line 3283: expected 1 fields, saw 2\nSkipping line 3284: expected 1 fields, saw 2\nSkipping line 3285: expected 1 fields, saw 2\nSkipping line 3286: expected 1 fields, saw 2\nSkipping line 3287: expected 1 fields, saw 2\nSkipping line 3288: expected 1 fields, saw 2\nSkipping line 3289: expected 1 fields, saw 2\n'

Visualizando as primeiras linhas do dataset.

In [6]:
df.head()

        country;continent;year;lifeExp;pop;gdpPercap
0   Afghanistan;Asia;1952;28.801;8425333;779.4453145
1   Afghanistan;Asia;1957;30.332;9240934;820.8530296
2  Afghanistan;Asia;1962;31.997;10267083;853.1007...
3   Afghanistan;Asia;1967;34.02;11537966;836.1971382
4  Afghanistan;Asia;1972;36.088;13079460;739.9811...

Como pode se perceber, o seperador usado no dataframe é o " ; ".
A leitura ocorreu desta forma devido ao pandas, por padrão usar o separador " , ". Para explicitar a leitura correta do dataframe.

In [8]:
df = pd.read_csv("/content/Gapminder.csv", sep=';')

Observa-se também que o erro ocasionando na leitura do arquivo não ocorre mais devido a leitura ser realizada de forma correta.

In [9]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

Trocando o nome das colunas e deixando-as em português.

In [12]:
df.rename(columns={"country": "País",
                   "continent": "Continente",
                   "year": "Ano",
                   "lifeExp": "Expectativa_Vida",
                   "pop": "População_Total",
                   "gdpPercap": "PIB"})

             País Continente  ...  População_Total         PIB
0     Afghanistan       Asia  ...          8425333  779.445314
1     Afghanistan       Asia  ...          9240934  820.853030
2     Afghanistan       Asia  ...         10267083  853.100710
3     Afghanistan       Asia  ...         11537966  836.197138
4     Afghanistan       Asia  ...         13079460  739.981106
...           ...        ...  ...              ...         ...
3307     Zimbabwe     Africa  ...          9216418  706.157306
3308     Zimbabwe     Africa  ...         10704340  693.420786
3309     Zimbabwe     Africa  ...         11404948  792.449960
3310     Zimbabwe     Africa  ...         11926563  672.038623
3311     Zimbabwe     Africa  ...         12311143  469.709298

[3312 rows x 6 columns]

Neste método **rename**, um dos parâmetros que ele recebe é chamado de *columns* que é passado como argumento um dicionário: Com a chave o valor anterior da tabela a ser renomeada, e o valor com o novo nome da coluna (campo).

Porém, estas alterações não foram feitas na variável do tipo dataframe. Então deve-se atribuir estas alterações para a variável inicial:

In [13]:
df = df.rename(columns={"country": "País",
                   "continent": "Continente",
                   "year": "Ano",
                   "lifeExp": "Expectativa_Vida",
                   "pop": "População_Total",
                   "gdpPercap": "PIB"})

Mostrando as dez primeiras do dataframe já com as alterações:

In [15]:
df.head(10)

          País Continente   Ano  Expectativa_Vida  População_Total         PIB
0  Afghanistan       Asia  1952            28.801          8425333  779.445314
1  Afghanistan       Asia  1957            30.332          9240934  820.853030
2  Afghanistan       Asia  1962            31.997         10267083  853.100710
3  Afghanistan       Asia  1967            34.020         11537966  836.197138
4  Afghanistan       Asia  1972            36.088         13079460  739.981106
5  Afghanistan       Asia  1977            38.438         14880372  786.113360
6  Afghanistan       Asia  1982            39.854         12881816  978.011439
7  Afghanistan       Asia  1987            40.822         13867957  852.395945
8  Afghanistan       Asia  1992            41.674         16317921  649.341395
9  Afghanistan       Asia  1997            41.763         22227415  635.341351

Já para descobrir o total de linhas e colunas (respectivamente) do dataframe:

In [17]:
df.shape

(3312, 6)